/* write your css here */


option {
  word-break: break-word;
  white-space: normal;
}

@media (max-width: 480px) {
  select {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 13px;
  }
}